/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 31-Oct-2018, 20:34:19
    Author     : Lizie
*/
*{
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

body{
    font-family:arial, sans-serif;
}
.nav{
    width:100%;

    overflow:hidden;
}
.name{
    font-family: cambria , serif;
    font-size:60px;
    text-align:center;
    color:#10172e;
}

.navbar{
    width:100%;
    text-align:center;
    margin:auto;
    padding-top:10px;
    padding-bottom:10px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: white; /* Black */
    color:black;
}
.nav-item{
    font-family:arial, sans-serif;
    color:black;
    margin-right:40px;
    text-decoration:none;
}
a.nav-item:hover{
    color:#30745e;

}
#icon {
    display: none;
}



@media screen and (max-width: 600px) {
    .nav-item {
        display: none;
        float: none;
    }

    #icon {
        display: block;

    }

    .responsive {
        display: block;
    }

}
.jumboimg{
    background-image:url('../img/diamond.jpg');
    position: relative;

    background-attachment: fixed;

    height:150px;
    width:100%;
    margin:auto;
    background-color:grey;
    align-content:center;



}

.blog{

    text-align:center;

    padding:10px;
    width:80%;
    margin:auto;

    font-family:arial, sans-serif;


}

a.bloglink{
    text-decoration:none;
    color:black;
    background-color:white;
    border-radius:3px;
    padding:10px;
    border:1px solid black;
}
a.bloglink:hover{
    color:grey;
}
a.post{
    text-decoration:none;
    color:#10172e;


    padding:30px;
}
a.post:hover{
    color:grey;
}
.row{
    width:80%;
    margin:auto;


}
.col-33{
    width:33.3%;
    float:left;
    align-content: center;
    padding:8px;
    text-align:center;


}
img{
    width:100%;
    height:auto;


}
.col-40{
    width:40%;
    padding:5px;

    float:left;
}
.col-60{
    width:60%;
    text-align: center;
    padding:20px;
    float:left;

}
.col-50{
    width: 50%;
    float:left;
}
.col-30{
    width: 30%;
    float:left;
}
.col-70{
    width: 70%;
    float:left;
    text-align: center;
    padding:0px 20px 0px 20px;
}
@media screen and (max-width: 800px) {
    .col-33{
        width: 100%;
        float:none;
    }
    .col-40{
        width: 100%;
        float:none;
    }
    .col-60{
        width: 100%;
        float:none;
    }
    .col-50{
        width: 100%;
        float:none;
    }

    .col-30{
        width:100%;
        float:none;
    }
    .col-70{
        width: 100%;
        float:none;
    }

}
h2{
    font-family: 'Kaushan Script', cursive;
    font-size:40px;
    text-align:center;
}
hr{
    width:80%;
}
.door{
    border-radius:50%;
}
.card1{
    background-image:url('../img/mock.jpg') ;
    background-size:cover;
    margin:20px;
    border-radius:5px;
    height:300px;
    position:relative;




}
.card2{
    background-image:url('../img/theme.jpg') ;
    background-size:cover;
    margin:20px;
    border-radius:5px;
    height:300px;
    position:relative;




}

div.card1:hover{
    transform:translate(0px,10px);
    box-shadow:5px 5px  3px lightslategrey;
}
div.card2:hover{
    transform:translate(0px,10px);
    box-shadow:5px 5px  3px lightslategrey;
}
div.card3:hover{
    transform:translate(0px,10px);
    box-shadow:5px 5px  3px lightslategrey;
}
.base-text{
    position:absolute;
    bottom:0px;
    background-color:white;
    padding:0px 30px 0px 30px;
    width:100%;

    text-align:center;
}
.blogbg{

    width:100%
}
.rowskills{
    width:80%;
    margin:auto;

}
.footer{
    width:100%;
    text-align: center;

    padding:20px;
    margin:auto;
    background-color:whitesmoke;
}
.fa-instagram{
    color:black;
    height:50px;
    text-decoration:none;
}
.fa-linkedin {

    color: black;
    text-decoration:none;
}
.fa:hover{
    color:grey;
}
h4{
    font-family: 'Kaushan Script', cursive;
    font-size:20px;
}
a.anchor{
    display:block;
    position:relative;
    top:-70px;
    visibility:hidden;
}